img{
	width: 300px !important;
}
.jumbotron {
    background-color: #20b2aa;
    height: 550px;
}
.display-4{
	margin-top: 200px;
	color: white;
	text-align: center;
	margin-bottom: 20px;
	font-size: 60px;
}
.lead{
	color: white;
	text-align: center;
	font-size: 32px;
}
.btn-primary {
    color: #fff;
    background-color: darkcyan;
    border-color: white;
    margin-bottom: 30px;
}
h1{
  text-decoration: underline;
  color: darkcyan;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;
  font-family: fantasy;
}
.layout3{
  color: darkcyan;
  text-align: justify;
}
element.style {
    background-color: darkcyan;
    padding: 10px 10px;
    border-style: solid;
}
h2{
  color: darkcyan;
  text-align: center;
}
.24{
  width: 30px;
}
.col-md-5{
  /*border: solid;*/
  /*border-color: silver;*/
  margin-right: 35px;
  margin-left: 45px;
  margin-top: 40px;
  margin-bottom: 40px;
}
.col-md-4{
  margin-bottom: 25px;
  margin-top: 25px;

}
h3{
  color: darkcyan;
}
.col-md-4 .p{
  font-size: 12px;
}

.h4{
  color: darkcyan;
  text-align: center;
  padding: 20px;
}
.foto{
  width: 100%;
  height: 100%;
}

.card{
  border-color: silver;
  padding: 25px;
}
.carousel-control-prev{
  background: darkcyan;
}
.carousel-control-next{
  background: darkcyan;
}

.bg{
  background: darkcyan;
  color: white;
  padding: 20px;
  margin-bottom: 48px;
}
